*{
    margin:0;
    padding:0;
}

body{
    background-color:blanchedalmond;
}


/* Cabecera */
header{
    height:18vh;
    background-image: url(../images/banner-logo-marvel-8.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

header:hover{
    background-image: none;
}

.titulo{
    display: flex;
    width: 100%;
    height: 100%;
    color:white;
    background-color:#e62429;
    opacity: 0;
    justify-content: center;
    align-items: center;
    text-shadow: 5px 5px black;
}

.titulo:hover{
    opacity: 100;
}

#mcu{
    font-size: 8vh;
}

/* Barra de navegación */
.navegacion{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #202020;
    height:125%;
    flex-direction: row;
    flex-wrap: wrap;
}

.efectosnav{
    border:1px solid white;
    padding:5px;
    background-color:#e62429;
    border-radius: 20px;
    color:white;
    font-size:150%;
    align-items: center;
}

.efectosnav:hover{
    background-color: #0E96E6;
    color:#202020;
}

p{
    text-align:center;
    margin: 20px;
    font-size: 2.5vh;
}

/* Div principal */
.ppal{
    display: flex;
    width:100%;
    height: 100%;
}


/* Títulos(h?) */
h1{
    margin-top: 10px;
    padding: 5px;
    text-align: center;
}

h3{
    margin-top: 10px;
    padding: 5px;
    text-align: center;
}

/* Enlances */
a{
    text-decoration: none;
}

.enlaces {
    color:#0E96E6;
}


/* --- FASES --- */


/* Cuadros "proximamente" */
.proximamente{
    display: flex;
    flex-direction: row;
}
.proxIzq{
    text-align:center;
    width: 10%;
    height: 80px;
    margin-left: 10px;
    font-size: 2vh;
    border: 1px solid black;
    background-color: yellow;
    -ms-transform: skewY(20deg);
    transform: skewY(20deg);
}

.proxDrch{
    text-align:center;
    width: 10%;
    height: 80px;
    margin-right: 10px;
    font-size: 2vh;
    border: 1px solid black;
    background-color: yellow;
    -ms-transform: skewY(-20deg);
    transform: skewY(-20deg);
}

.proxCentro{
    width:80%;
}


/* Fases en movimiento */
.fasesDiv{
    display: flex;
    flex-direction: row;
    width:100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 4%;
}

/* -F- */
.divF{
    background-color: red;
    font-size:15vh;
    position: relative;
    animation-name: moveF;
    animation-duration: 5s;
    animation-iteration-count: 2;
    animation-delay: 1s;  
    animation-direction: alternate; 
    color:white;
    border: 1px solid black;
}

@keyframes moveF{
    100%   {background-color:orange; left:0px; top:0px;;} /*sup drch*/
    75%  {background-color:blue; left:-500px; top:160px;
         transform: rotate(360deg);} /*bajo izq*/
    50%  {background-color:green; left:650px; top:160px;
        transform: rotate(0deg)} /*bajo drch*/
    25%  {background-color:rgb(235, 108, 129); left:-450px; top:-200px;} /*sup izq*/
    0% {background-color:red; left:0px; top:-9px;} /*centro*/
}

/* -A- */
.divA{
    background-color: orange;
    font-size:15vh;
    position: relative;
    animation-name: moveA;
    animation-duration: 5s;
    animation-iteration-count: 2;
    animation-delay: 1s;  
    animation-direction: alternate; 
    color:white;
    border: 1px solid black;
}

@keyframes moveA{
    100%   {background-color:blue; left:0px; top:0px;
             transform: rotate(-360deg);} /*sup izq*/
    75%  {background-color:green; left:-12px; top:160px;
        transform: rotate(0deg);} /*bajo centro*/
    50%  {background-color:rgb(235, 108, 129); left:510px; top:-200px;} /*sup drch*/
    25%  {background-color:red; left:-500px; top:160px;} /*bajo izq*/
    0% {background-color:orange; left:0px; top:-0px;} /*centro*/
}

/* -S(1)- */
.divS1{
    background-color: blue;
    font-size:15vh;
    position: relative;
    animation-name: moveS1;
    animation-duration: 5s;
    animation-iteration-count: 2;
    animation-delay: 1s;  
    animation-direction: alternate; 
    color:white;
    border: 1px solid black;
}

@keyframes moveS1{
    100%    {background-color:green; left:0px; top:0px;} /*bajo izq*/
    75%  {background-color:rgb(235, 108, 129); left:400px; top:160px;} /*bajo drch*/
    50%  {background-color:red; left:-550px; top:-200px;
          transform: rotate(-360deg)} /*sup izq*/
    25%  {background-color:orange; left:-12px; top:160px;
        transform: rotate(0deg)} /*bajo centro*/
    0% {background-color:blue; left:0px; top:-0px;} /*centro*/
}

/* -E- */
.divE{
    background-color: green;
    font-size:15vh;
    position: relative;
    animation-name: moveE;
    animation-duration: 5s;
    animation-iteration-count: 2;
    animation-delay: 1s;  
    animation-direction: alternate; 
    color:white;
    border: 1px solid black;
}

@keyframes moveE{
    100%   {background-color:rgb(235, 108, 129); left:0px; top:0px;} /*bajo centro*/
    75%  {background-color:red; left:410px; top:-200px;} /*sup drch*/
    50%  {background-color:orange; left:-600px; top:160px;
         transform: rotate(-360deg);} /*bajo izq*/
    25%  {background-color:blue; left:500px; top:160px;
        transform: rotate(0deg);} /*bajo drch*/
    0% {background-color:green; left:0px; top:-0px;} /*centro*/
}

/* -S(2)- */
.divS2{
    background-color: rgb(235, 108, 129);
    font-size:15vh;
    position: relative;
    animation-name: moveS2;
    animation-duration: 5s;
    animation-iteration-count: 2;
    animation-delay: 1s;  
    animation-direction: alternate; 
    color:white;
    border: 1px solid black;
}

@keyframes moveS2{
    100%   {background-color:red; left:0px; top:0px;} /*baj derech*/
    75%  {background-color:orange; left:-650px; top:-200px;} /*sup izq*/
    50%  {background-color:blue; left:-12px; top:160px;} /*centro bajo*/
    25%  {background-color:green; left:450px; top:-200px;
          transform: rotate(-360deg);} /*sup derech*/
    0% {background-color:rgb(235, 108, 129); left:0px; top:0px;
        transform: rotate(0deg)} /*centro*/
}


