*{
    margin:0;
    padding:0;
}

body{
    background-color:blanchedalmond;
}

/* Cabecera */
header{
    height:18vh;
    background-image: url(../images/banner-logo-marvel-8.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

header:hover{
    background-image: none;
}

.titulo{
    display: flex;
    width: 100%;
    height: 100%;
    color:white;
    background-color:#e62429;
    opacity: 0;
    justify-content: center;
    align-items: center;
    text-shadow: 5px 5px black;
}

.titulo:hover{
    opacity: 100;
}

#mcu{
    font-size: 8vh;
}

/* Barra de navegación */
.navegacion{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    background-color: #202020;
    height:125%;
}

.navegacion>p{
    text-align:justify;
    margin: 20px;
    font-size: 2.5vh;
}

.efectosnav{
    border:1px solid white;
    padding:5px;
    background-color:#e62429;
    border-radius: 20px;
    color:white;
    font-size:150%;
    align-items: center;
}

.efectosnav:hover{
    background-color: #0E96E6;
    color:#202020;
}

/* Div principal */
.ppal{
    display: flex;
    flex-direction: column;
    margin:10px;
}

.ppal>p{
    text-align:justify;
    margin: 20px;
    font-size: 2.5vh;
}

/* Títulos(h?) */
h1{
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    font-size: 3vh;
}

h3{
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    font-size: 3vh;

}

/* Pie de página */
footer{
    display: flex;
    height:11vh;
    justify-content: left;
    background-color: #202020;
    color:white;
    padding: 30px;;
}

.contacto{
    width: 100%;
    height:100%;
    font-size: 100%;
}

/* Enlances */
a{
    text-decoration: none;

}
.enlaces {
    color:#0E96E6;
}

/* --- PERSONAJES --- */

/* Descripción */
.descripcion{
    padding: 10px 50px 0;
}

.hijoDesc{
    border: 5px solid #e62429;
}

.hijoDesc>p{
    text-align:justify;
    margin: 20px;
    font-size: 2.5vh;
}

/* - HÉROES - */
.heroesPpal{
    display: flex;
    flex-direction: column;
    padding: 10px 50px 0;
}

.tituloHeroe{
    width:100%;
}

.hijoHeroe{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.heroesDiv{
    width:15%;
/*     height:25%;
 */    margin:5px;
    font-size: 2.5vh;
    background-color: #151515;
}

.heroesDiv:hover{
    transform: scale(0.9);
    color:#e62429;
}

.fotoHeroe{
    width: 100%;
    height: 100%;
}

.nombreHeroe{
    width: 100%;
    height: 50px;
    text-align: center;
    color: #fff;
    font: 400 16px/1.1 RobotoCondensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
}

/* - VILLANOS - */
.villanosPpal{
    display: flex;
    flex-direction: column;
    padding: 10px 50px 0;
}

.tituloVillano{
    width:100%;
}

.hijoVillano{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.villanoDiv{
    width:15%;
/*     height:25%;
 */    margin:5px;
    font-size: 2.5vh;
    background-color: #151515;
}

.heroesDiv:hover{
    transform: scale(0.9);
    color:#e62429;
}

.fotoVillano{
    width: 100%;
    height: 100%;
}

.nombreVillano{
    width: 100%;
    height: 50px;
    text-align: center;
    color: #fff;
    font: 400 16px/1.1 RobotoCondensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
}