*{
    margin:0;
    padding:0;
}

body{
    background-color:blanchedalmond;
}

/* Cabecera */
header{
    height:18vh;
    background-image: url(../images/banner-logo-marvel-8.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

header:hover{
    background-image: none;
}

.titulo{
    display: flex;
    width: 100%;
    height: 100%;
    color:white;
    background-color:#e62429;
    opacity: 0;
    justify-content: center;
    align-items: center;
    text-shadow: 5px 5px black;
}

.titulo:hover{
    opacity: 100;
}

#mcu{
    font-size: 8vh;
}

/* Barra de navegación */
.navegacion{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #202020;
    height:125%;
    flex-direction: row;
    flex-wrap: wrap;
}

.efectosnav{
    border:1px solid white;
    padding:5px;
    background-color:#e62429;
    border-radius: 20px;
    color:white;
    font-size:150%;
    align-items: center;
}

.efectosnav:hover{
    background-color: #0E96E6;
    color:#202020;
}

p{
    text-align:justify;
    margin: 20px;
    font-size: 2.5vh;
}

/* Div principal */
.ppal{
    display: flex;
    margin:10px;
}

/* Títulos(h?) */
h1{
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    font-size: 3vh;
}

h3{
    margin-top: 10px;
    padding: 5px;
    text-align: center;
}

/* Pie de página */
footer{
    display: flex;
    height:11vh;
    justify-content: left;
    background-color: #202020;
    color:white;
    padding: 30px;
}
.contacto{
    width: 100%;
    height:100%;
    font-size: 100%;
}

/* Enlances */
a{
    text-decoration: none;
}
.enlaces {
    color:#0E96E6;
}


/* --- PÁGINA SOBRE TI --- */

/* Fotos izquierda */
.fotoIzq{
    width: 20%;
    margin:5px;
}

.hijoFoto{
    width: 98%;
    height: 50%;
    margin-top: 20px;
}

/* Fotos derecha */
.fotoDrch{
    width: 20%;
    margin:5px;
}

.imgRed{
    width:100%;
    border-radius: 5px;
    border: 4px solid #e62429;
}

.imgBlue{
    width:100%;
    border-radius: 5px;
    border: 4px solid #0E96E6;     
}

/* Formularios */
.formulariosPadre{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    margin:5px;
}
.textoIntro{
    align-items: center;
    text-align: justify;
    justify-content: center;
    flex-direction: column;
    padding:5px;
}

.titulosForm{
    display: flex;
    flex-direction: row;
}

.hijosTituloForm{
    width: 50%;
    height: 50%;
}

.primerosFormularios{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

/* Datos personales */
.datos{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    justify-content: center;
}

.hijosDatos{
    display: flex;
    text-align: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-top:20px;
    justify-content: center;
}
.formDatos{
    width: 100%;
    height: 50%;
}

/* Aficiones */
.aficiones{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.hijosAficiones{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-top:20px;
    justify-content: center;
}

.formAficiones{
    width: 40%;
    height: 50%;
}

/* Gustos personales */
.gustos{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
}

.hijoGustos{
    display: flex;
    text-align: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-top:20px;
    margin-bottom: 9px;
    justify-content: center;
}

.formGustos{
    width: 45%;
    height: 50%;
}

/* Sugerencias */
.sugerencias{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
}

.formSug{
    margin-top:20px;
    width: 100%;
    height: 100%;
    text-align: center;
}

/* Hr de formularios */
.tituloForm{
    width: 100%;
}
.hrForm{
    border:1px dotted #e62429;
    border-bottom: none;
    border-width: 5px;
    margin-top:20px;
}
 