*{
    margin:0;
    padding:0;
}

body{
    background-color:blanchedalmond;
}

/* Cabecera */
header{
    height:18vh;
    background-image: url(../images/banner-logo-marvel-8.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

header:hover{
    background-image: none;
}

.titulo{
    display: flex;
    width: 100%;
    height: 100%;
    color:white;
    background-color:#e62429;
    opacity: 0;
    justify-content: center;
    align-items: center;
    text-shadow: 5px 5px black;
}

.titulo:hover{
    opacity: 100;
}

#mcu{
    font-size: 8vh;
}

/* Barra de navegación */
.navegacion{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #202020;
    height:125%;
    flex-direction: row;
    flex-wrap: wrap;
}

.efectosnav{
    border:1px solid white;
    padding:5px;
    background-color:#e62429;
    border-radius: 20px;
    color:white;
    font-size:150%;
    align-items: center;
}

.efectosnav:hover{
    background-color:rgb(67, 196, 235);
    color:#202020;
}

p{
    text-align:justify;
    margin: 20px;
    font-size: 2.5vh;
}

/* Div principal */
.ppal{
    display: flex;
    margin:10px;
}

/* Títulos(h?) */
h1{
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    font-size: 3vh;
}

h3{
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    font-size: 3vh;

}

/* Pie de página */
footer{
    display: flex;
    height:11vh;
    justify-content: left;
    background-color: #202020;
    color:white;
    padding: 30px;;
}

.contacto{
    width: 100%;
    height:100%;
    font-size: 100%;
}

/* Enlances */
a{
    text-decoration: none;
}
.enlaces {
    color:#0E96E6;
}

/* --- PÁGINA DE INICIO --- */

/* Div textos */
.definicion{
    display:flex;
    flex-direction: column;
    width:60%;
    margin:10px;
}

.hijoDef{
    width: 100%;
    margin: 5px;
    align-items: center;
    text-align:justify;
    margin: 5px;
    font-size: 2vh;
}

/* Novedad */
.novedad{
    display: flex;
    width: 40%;
    flex-direction: column;
    margin:10px;
    border: 5px solid #e62429;
    background-color: rgba(243, 209, 106, 0.869);
    animation-name: novedad;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

/* movimiento novedad */
@keyframes novedad{
    0%   {transform: scale(1.01,1.01);}
    100% {trnasform: scale(0,0);}    
}

.hijoNov{
    align-items: center;
    justify-content: center;
    text-align:justify;
    margin: 15px;
    font-size: 2vh;
}

/* Trailer */
#wakandaTrailer{
    margin:auto;
    width: 80%;
    height:50%;
    border:5px solid #0E96E6;
}

/* Hr Definición */
.hrDef{
    border:1px dotted #e62429;
    border-bottom: none;
    border-width: 5px;
}


/* --- RESPONSIVE --- */

/* PEQUEÑO */
@media screen and (max-width: 768px) {

    #mcu{
        font-size: 5vh;
    }

    .navegacion{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 20vh;
    }

    .navegacion>p{
        text-align:justify;
        margin: 15px;
        font-size: 2.5vh;
    }

    .ppal{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:5px;
    }

    div{
        border: 1px solid black;
    }

    .definicion{
        display:flex;
        flex-direction: column;
        width:90%;
        margin:5px;
    }

    /* Novedad */
    .novedad{
        display: flex;
        width: 40%;
        flex-direction: column;
        margin:10px;
        border: 5px solid #e62429;
        background-color: rgba(243, 209, 106, 0.869);
        animation-name: novedad;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }

    /* movimiento novedad */
    @keyframes novedad{
        0%   {transform: scale(1.01,1.01);}
        100% {trnasform: scale(0,0);}    
    }

    .hijoNov{
        align-items: center;
        justify-content: center;
        text-align:justify;
        margin: 15px;
        font-size: 2vh;
    }

    /* Trailer */
    #wakandaTrailer{
        margin:auto;
        width: 80%;
        height:50%;
        border:5px solid #0E96E6;
    }
}